.IconCommentsRss { background: url(/ui/images/sprites/Test1.png) no-repeat center 50px; }
.IconContentType { background: url(/ui/images/sprites/Test1.png) no-repeat 0 63px; }
.IconEmail { background: url(/ui/images/sprites/Test1.png) no-repeat 0 133px; }
.IconDownload { background: url(/ui/images/sprites/Test1.png) no-repeat right 210px; }
#icons .IconFacebook { background: url(/ui/images/sprites/Test1.png) no-repeat 0 224px; }
